exportPattern("ˆ[[:alpha:]]+")
import(coadministr.stanc)
import(rstan)
import(data.table)
importFrom(randomizr,block_ra)
importFrom(digest,digest)
export(pr_adverse_evt)
export(get_data)
export(model_jags)
export(trial)
export(post_to_data_table)